<header id="header">
  <nav class="container">
    <a href="/" class="logo">Dungeons & Dummies</a>
    <div class="menu">
      <ul>
        <li><a class="title" href="/">?PersonagemAtual?</a></li>
        <li><a class="title" href="/characters">Personagens</a></li>
      </ul>
    </div>
  </nav>
</header>
