<body id="sheet" class="container">
  <form class="sheet grid">
    <fieldset>
      <img
        class="container"
        src="http://lorempixel.com.br/150/150"
        alt="Character Image"
      />

      <div class="charStatus">
        <label for="hitpoints">H.P<br /></label>
        <input id="hitpoints" type="number" />
        <input id="hitpoints" type="number" />

        <label for="manapoints"><br />M.P<br /></label>
        <input id="manapoints" type="number" />
        <input id="manapoints" type="number" />
      </div>
    </fieldset>
    <fieldset class="basicChar">
      <label for="name">Nome</label>
      <input id="name" type="text" />

      <label for="race">Raça</label>
      <input id="race" type="text" />

      <label for="class">Classe</label>
      <input id="class" type="text" />

      <label for="align">Alinhamento</label>
      <input id="align" type="text" />
    </fieldset>
  </form>
</body>
