<body id="sheet" class="container">
  <form class="sheet">
    <fieldset>
      <legend>Basic Info</legend>

      <div id="imgage">
        <img src="" alt="charImage" />
      </div>
      <input type="file" accept="image/*" onchange="loaderFile(event)" />
      <label for="name">Nome</label>
      <input id="name" type="text" />

      <label for="race">Raça</label>
      <input id="race" type="text" />

      <label for="class">Classe</label>
      <input id="class" type="text" />

      <label for="align">Alinhamento</label>
      <input id="align" type="text" />
    </fieldset>
    <input type="submit" value="Enviar" />
  </form>
</body>
