<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <main>
    <%- include('../partials/sheet') %>
    <script src="static/main.js"></script>
  </main>
</html>
